<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a1234.miracle">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Demo1Activity"></activity>
        <activity android:name=".activity.NewsDetailActivity"></activity>
        <activity android:name=".activity.NewsCommentActivity"></activity>
        <activity android:name=".activity.BigImageAcitivity"></activity>
        <activity android:name=".activity.Fake3DActivity"></activity>
        <activity android:name=".activity.AlbumAcitcity"></activity>
        <activity android:name=".activity.ThreadTestActivity"></activity>
        <activity android:name=".activity.WebViewActivity"></activity>
        <activity android:name=".activity.SocketActivity"></activity>
        <activity android:name=".activity.NewsDetailActivity2"></activity>
        <!--私有进程的名称前面有冒号,全局进程： android:process="com.miracle.process.service-->
        <!--这里选择”service_remote”这个名字是随意主观的，你能用其他名字来让这个服务在另外的进程中运行。
        冒号’:’这个前缀将把这个名字附加到你的包所运行的标准进程名字的后面作为新的进程名称。-->
        <service
            android:name=".service.MiracleProcessService"
            android:enabled="true"
            android:exported="true"
            android:process=":service_remote">
            <intent-filter>
                <action
                    android:name="com.example.miracle.process"
                    android:priority="1000" />
            </intent-filter>
        </service>
    </application>

</manifest>